<md-toolbar class="md-primary md-whiteframe-z1" ng-include="'nav/_nav.html'"></md-toolbar>
<div layout="row" class="post-content">
  <div flex="0" flex-gt-sm="25"></div>
  <div flex>
    <div layout="row" layout-align="start center" style="margin-bottom:10px">
      <div>created at: &nbsp;<span class="date">{{time | date}}<span></div>
    </div>
    <div layout="row" class="post-title-category-line">
      <md-input-container flex>
        <label>Title</label>
        <input type="text" ng-model="title"/>
      </md-input-container>
      <md-input-container>
        <label>Category</label>
        <md-select ng-model="category" required>
          <md-option value='learning & practice'>Learning & Practice</md-option>
          <md-option value='translation & reference'>Translation & Reference</md-option>
          <md-option value='essay'>Essay</md-option>
        </md-select>
      </md-input-container>
    </div>

    <div layout="row" class="post-tags-links-line">
      <md-chips ng-model="tags" placeholder="Enter a tag" secondary-placeholder="+tags" flex="60"></md-chips>
      <md-input-container flex style="margin-top:17px">
        <label>Reference</label>
        <input type="text" ng-model="ref"/>
      <md-input-container>
    </div>

    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="compose">
          <md-content class="md-padding">
            <textarea ng-model="content" rows="19"></textarea>
          </md-content>
        </md-tab>
        <md-tab label="preview">
          <md-content class="md-padding">
            <div btf-markdown="content"></div>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
  <div flex="0" flex-gt-sm="25" layout="row" layout-align="center start">
    <md-button class="md-primary" ng-click="cancelEdit()">cancel</md-button>
    <md-button class="md-primary md-raised" ng-click="savePost()">save</md-button>
  </div>
</div>
