<div layout="row">
  <div flex="0" flex-gt-sm="25"></div>
  <md-card flex>
    <md-card-content>
      <md-content>
        <div layout="row" layout-align="start start">
          <div>{{category}} - </div>
          <div>{{time}}</div>
        </div>
        <div>{{title}}</div>

        <div layout="row" layout-align="start start">
          <div ng-repeat="tag in tags">
            {{tag}}
          </div>
        </div>
        <div>{{ref}}</div>
        <md-divider></md-divider>
        <div btf-markdown="content"></div>

      </md-content>
      <md-content>
        <md-input-container>
          <textarea ng-model="content" rows="10" max-rows="10"></textarea>
        </md-input-container>
      </md-content>
    </md-card-content>
  </md-card>
  <div flex="0" flex-gt-sm="25"></div>
</div>
