<div class="md-toolbar-tools mh-toolbars" ng-controller="NavCtrl" style="background-color: rgb(63, 81, 181)">
    <md-button class="md-icon-button" aria-label="Icon">
      <i class="material-icons">brightness_high</i>
    </md-button>
    <h2>
      <span class="nav-logo-text">Itsmatthu</span>
    </h2>
    <span flex></span>
    <ul class="nav navbar-nav">
      <md-button class="md-primary nav-tab">
        <a href="#/home">Home</a>
      </md-button>
      <md-button class="md-primary nav-tab">
        <a href="#/blog">Blog</a>
      </md-button>
      <md-button class="md-primary nav-tab">
        <a href="#/lab">Lab</a>
      </md-button>
      <md-button class="md-primary nav-tab">
        <a href="#/about">About</a>
      </md-button>
    </ul>

    <md-menu>
      <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
        <md-tooltip>Language</md-tooltip>
        <i class="material-icons">language</i>
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button disabled="disabled">
            <i class="material-icons">face</i>
            English
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="">
            <i class="material-icons" md-menu-align-target>power_setting_new</i>
            中文
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="">
            <i class="material-icons" md-menu-align-target>power_setting_new</i>
            Deutsch
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    <md-menu ng-show="signedIn()">
      <md-button class="md-icon-button" aria-label="User" accesskey="" ng-click="openMenu($mdOpenMenu, $event)">
        <md-tooltip>Admin</md-tooltip>
        <i class="material-icons">face</i>
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button disabled="disabled">
            <i class="material-icons">face</i>
            Admin
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="logout()">
            <i class="material-icons" md-menu-align-target>power_setting_new</i>
            Log out
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-button class="md-icon-button" aria-label="Messages" ng-click="like()">
      <md-tooltip>Like</md-tooltip>
      <i class="material-icons">favorite</i>
    </md-button>
</div>
