<style>
.login-dialog {
  margin-top: 100px;
}
.sign-image {
  height: 340px;
  width: 500px;
  padding: 8px;
}
</style>
<md-toolbar class="md-primary md-whiteframe-z1" ng-include="'nav/_nav.html'"></md-toolbar>
<div layout="row" class="login-dialog">
  <div flex="0" flex-gt-sm="15"></div>
  <div flex="0" flex-gt-sm="45">
    <div class="sign-image">
      <img width="100%" height="100%" src="http://s.cn.bing.net/az/hprichbg/rb/LakeSuperior_ZH-CN8092503607_1920x1080.jpg" />
    </div>
  </div>
  <div flex>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Log In</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column">
        <md-input-container>
          <input type="text" placeholder="Emails" ng-model="user.email">
        </md-input-container>
        <md-input-container>
          <input type="password" placeholder="Password" ng-model="user.password">
        </md-input-container>
        <md-button class="md-primary md-raised" ng-click="login()">Log In</md-button>
      </md-card-content>
    </md-card>
  </div>
  <div flex="0" flex-gt-sm="15"></div>
</div>
