<!DOCTYPE html>
<html>
<head>
  <title>itsmatthu</title>
  <link ref='icon'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<style>
body {
  font-family: 'Arkifakt';
}
</style>
<body ng-app="itsmatthu" style='height:100%' ng-controller=MainCtrl>
  <md-toolbar  md-scroll-shrink ng-if='true' class="md-primary md-whiteframe-z1" ng-include="'nav/_nav.html'"></md-toolbar>
  <md-content flex style="height:100%;">
    <ui-view></ui-view>
  </md-content>
</body>
</html>
